.courses-list-wrapper {
    overflow-x: auto; 
    white-space: nowrap; 
    width: 100%; 
    display: inline-flex;
    justify-content: space-between;
    margin-top: 40px;
    cursor: pointer;
    height: 260px;
}

.courses-list-item {
    height: 220px;
}

.decoration-none {
    text-decoration: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: black;
}

