.content-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.course-content {
    width: 20%;
    margin-top: 5px;
}

app-lesson-display {
    margin-right: 0;
}

.lesson {
    font-weight: bold;
    font-size: 18px;
    padding: 20px 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

h2 {
    padding: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
}

a {
    text-decoration: none;
    color: #000;
}

.details-comments-wrapper {
    width: 60%;
}

.comments-wrapper {
    width: 70%;
}

.comments-header {
    font-size: 1.5em;
    padding: 10px 0;
    font-weight: 500;
}

.new-comment-form {
    margin-top: 25px;
}

.new-comment-form textarea {
    width: 95.5%;
    padding: 2.1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.submit-button {
    width: 11%;
}

.complete-course-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.complete-course-button:hover {
  background-color: #218838;
}
