.course-item-wrapper {
    width: 82%;
}

img {
    width: 100%;
    height: 120px;
}

.title {
    font-weight: bold;
    white-space: normal;
    font-size: 18px;
}


.author {
    font-size: 15px;
    color: rgb(115, 112, 112);
}