<app-navbar></app-navbar>

<div>
    <section class="section-wrapper">
        <header>
            <h1>Wide range of courses</h1>
            <div class="header-description">Dive into a dynamic ocean of online video courses, constantly replenished with fresh content every month. 
                Explore endless possibilities tailored to your interests.</div>
        </header>
        <button  mat-raised-button color="primary" routerLink="/course-search">Find your course</button>
        <div class="courses-wrapper">
            <div class="courses-wrapper-header">
                <div class="courses-promo-text">
                    Expand your career opportunities by acquiring new skills
                </div>
                <div class="courses-promo-subtext">
                    Unlock boundless opportunities for personal growth with our e-learning platform! Whether you aim to acquire new professional skills, 
                    deepen your knowledge in a favorite subject, or explore entirely new domains, our courses are tailored to suit your needs.
                </div>
            </div>
            <app-courses-list></app-courses-list>
        </div>
    </section>
</div>
