.section-wrapper {
    margin-top: 12px;
    margin-left: 90px;
}

header {
    width: 70%;
    margin: 30px 0px;
}

h1 {
    font-family: serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.header-description {
    font-family: system-ui;
    font-size: 18px;
}

.courses-wrapper {
    margin-top: 35px;
    font-family: system-ui;
    width: 89%;
    height: 100%;
}

.courses-promo-text {
    font-size: 25px;
    font-weight: bold;
}

.courses-promo-subtext {
    margin-top: 10px;
    font-size: 16px;
}

/*********************************************** responsivness **********************************************/

@media only screen and (max-width: 768px) {
    /* .section-wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }

    header {
        width: 100%;
        margin-top: 20px;
    }

    h1 {
        font-size: 24px;
    }

    .header-description {
        font-size: 16px;
    }

    .courses-wrapper {
        margin-top: 25px;
        padding: 15px;
    }

    .courses-promo-text {
        font-size: 20px;
    }

    .courses-promo-subtext {
        font-size: 14px;
    } */
}
