<app-navbar></app-navbar>

<div>
  <section class="section-wrapper">
    <div class="course-info">
      <div *ngIf="this.course" class="categories-wrapper ">
        <div *ngFor="let category of this.course.categories">
          <a [routerLink]="['/course-search']" [queryParams]="{ categories: category }">
            <p class="category">{{ category }},</p>
          </a>
        </div>
      </div>
      <div>
        <h1 *ngIf="this.course" class="course-title">
          {{ this.course.title }}
        </h1>
        <div *ngIf="this.course" class="course-description">
          {{ this.course.description }}
        </div>

        <app-rating
          *ngIf="this.course"
          [rating]="this.course.rating"
          [enrollmentCount]="this.course.enrollmentCount"
        ></app-rating>

        <div class="instructor-wrapper">
          <div class="instructor-text">Created by:</div>
          <div class="instructor-name">John Doe</div>
        </div>
        <div class="additional-info">
          <div class="update-info">Last update 11:2023</div>
          <div *ngIf="this.course" class="language">
            {{ this.course.language }}
          </div>
        </div>
      </div>
    </div>
    <div class="course-actions-wrapper">
      <img
        src="./assets/images/course-image.png"
        alt="Course Image"
        class="course-image"
      />
      <div class="buttons-wrapper">
        <app-price *ngIf="this.course" [price]="this.course.price"></app-price>
        <div class="btn">
          <app-button
            [text]="isInCart ? 'Go to Cart' : 'Add to Cart'"
            [type]="'BUY'"
            (buttonClick)="isInCart ? goToCart() : addToCart()"
          ></app-button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <app-lesson-list *ngIf="this.course" [lessons]="this.course.lessons" ></app-lesson-list>
  </section>
  <br />
</div>
