<app-navbar></app-navbar>

<div>
  <section class="section-wrapper">
    <div class="course-info">
      <div class="categories">
        Tools for software development, software development
      </div>
      <div>
        <h1 class="course-title">GIT od podstaw dla każdego XXXX</h1>
        <div class="course-description">
          Poznaj kluczowe aspekty git krok po kroku w szybki i łatwy sposób.
          Naucz się git od zera i przygotuj się do pracy.
        </div>
        <div class="rating-wrapper">
          <div class="rating-stars">
            4.8 ***** 
          </div>
          <div class="rate-count">
            ocen: 1622
          </div>
          <div class="enrollment-count">
            420 uczestników
          </div>

        </div>
        <p class="instructor">Created by: John Doe</p>
        <div>
          <div class="update-info">Last update 11:2023</div>
          <div class="language"></div>
        </div>
      </div>
    </div>
    <div class="course-actions">
      <img src="course-image.jpg" alt="Course Image" class="course-image" />
      <div class="price-wrapper">
        <div class="price">39.99 $</div>
        <div class="discount">219$</div>
      </div>
      <div class="add-to-cart">Add to the cart</div>
      <div class="buy-button">Buy now</div>
    </div>
  </section>
</div>
