<app-navbar></app-navbar>

<div>
  <section class="section-wrapper">
    <div class="course-info">
      <div class="categories">
        Tools for software development, software development
      </div>
      <div>
        <h1 class="course-title">GIT od podstaw dla każdego</h1>
        <div class="course-description">
          Poznaj kluczowe aspekty git krok po kroku w szybki i łatwy sposób.
          Naucz się git od zera i przygotuj się do pracy.
        </div>
        <app-rating></app-rating>
        <div class="instructor-wrapper">
          <div class="instructor-text">Created by:</div>
          <div class="instructor-name">John Doe</div>
        </div>
        <div class="additional-info">
          <div class="update-info">Last update 11:2023</div>
          <div class="language">Polski</div>
        </div>
      </div>
    </div>
    <div class="course-actions-wrapper">
      <img
        src="./assets/course-image.png"
        alt="Course Image"
        class="course-image"
      />
      <div class="buttons-wrapper">
        <app-price></app-price>
        <div class="btn">
          <app-button text="Add to the cart" type="BUY"></app-button>
        </div>

        <div class="btn">
          <app-button text="Buy now"></app-button>
        </div>
      </div>
    </div>
  </section>
</div>
