<app-navbar></app-navbar>

<div class="user-profile">
  <h2>Your profile</h2>
  <div>
    <p><strong>First name:</strong> {{ user?.firstName }}</p>
    <p><strong>Last name:</strong> {{ user?.lastName }}</p>
    <p><strong>Email:</strong> {{ user?.email }}</p>
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="logout()">
        Log out
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="this.isAdmin"
        routerLink="/admin"
      >
        Admin panel
      </button>
    </div>
  </div>
  <div class="user-courses">
    <h2>Your bought courses</h2>
    <app-user-profile-cart-list></app-user-profile-cart-list>
    <div class="flex">
      <h2>Your created courses</h2>
      <app-user-profile-courses-list></app-user-profile-courses-list>
      <button mat-stroked-button color="primary" (click)="this.createCourse()">
        Create new course
      </button>
    </div>
    <h2>My completed courses</h2>
    <app-user-profile-completed-courses-list
      class="courses"
    ></app-user-profile-completed-courses-list>
    <app-user-profile-courses-list
      class="courses"
    ></app-user-profile-courses-list>
  </div>
</div>
