.user-profile {
  margin: 20px;
}

.user-profile h2,
.user-profile h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-profile p {
  font-size: 18px;
  margin: 5px 0;
}

.user-profile button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.user-courses {
  margin-top: 40px;
}
