<app-navbar></app-navbar>

<div class="user-profile">
  <h2>Dane Użytkownika</h2>
  <div>
    <p><strong>First name:</strong> {{ user?.firstName }}</p>
    <p><strong>Last name:</strong> {{ user?.lastName }}</p>
    <p><strong>Email:</strong> {{ user?.email }}</p>
    <button mat-raised-button color="primary" (click)="logout()">
      Log out
    </button>
    <button mat-raised-button color="primary" *ngIf="this.isAdmin" routerLink="/admin">
      Admin panel
    </button>
  </div>
  <div class="user-courses">
    <h2>My bought courses</h2>
    <app-user-profile-cart-list></app-user-profile-cart-list>
    <div class="flex">
      <h2>My created courses</h2>
      <button mat-stroked-button color="primary" (click)="this.createCourse()">
        Create new course
      </button>
    </div>

    <app-user-profile-courses-list></app-user-profile-courses-list>
  </div>
</div>
