<app-navbar></app-navbar>

<div class="user-profile">
  <h2>Dane Użytkownika</h2>
  <div>
    <p><strong>First name:</strong> {{ user?.firstName }}</p>
    <p><strong>Last name:</strong> {{ user?.lastName }}</p>
    <p><strong>Email:</strong> {{ user?.email }}</p>
    <button (click)="logout()">Log out</button>
  </div>
  <div class="user-courses">
    <h3>My bought courses</h3>
    <app-user-profile-cart-list></app-user-profile-cart-list>
    <h3>My created courses</h3>
    <app-user-profile-courses-list></app-user-profile-courses-list>
  </div>
</div>
