.price-wrapper {
    display: flex;
    justify-content: left;
    align-items: end;
    flex-direction: column;
  }
  .price {
    font-size: 25px;
    font-weight: bold;

  }
  .discount {
    text-decoration: line-through;
    color: #8d8d8d;
  }
  