<nav class="wrapper">
  <div class="content-wrapper">
    <a href="/main-page">
      <img src="assets/images/logo.jpg" alt="Logo" class="logo" />
    </a>
    <button (mouseenter)="showList()" class="plain-button">Categories</button>
    <div class="search-container">
      <button class="search-button" (click)="onSearchHandler()">
        <img src="assets/images/search-icon.png" alt="Search" class="icon" />
      </button>
      <input
        type="text"
        placeholder="Search..."
        [(ngModel)]="searchInput"
        class="search-input"
      />
    </div>
    <div class="creator-cart-wrapper">
      <button class="plain-button">Creator</button>
      <a [routerLink]="['/cart']" class="decoration-none">
        <button class="cart-button">
          <img src="assets/images/shopping-cart.png" alt="Cart" class="icon" />
        </button>
      </a>
    </div>
    <div class="buttons-wrapper">
      <app-button
        *ngIf="!isLoggedIn"
        [text]="'Log in'"
        [type]="'LOG_IN'"
        routerLink="/login"
      ></app-button>
      <app-button
        *ngIf="!isLoggedIn"
        [text]="'Sign up'"
        [type]="'SIGN_UP'"
        class="sign-up-button"
        routerLink="/register"
      ></app-button>
      <app-button
        *ngIf="isLoggedIn"
        [text]="'Logout'"
        [type]="'LOG_OUT'"
        (click)="logout()"
        class="logout-button"
      ></app-button>
    </div>
  </div>
</nav>
<div *ngIf="isListVisible" class="categories-wrapper" (mouseleave)="hideList()">
  <ul class="categories-list">
    <li *ngFor="let category of categories">
      <a [routerLink]="['/course-search']" [queryParams]="{ categories: category.name }">
        {{ category.name }}
      </a>
    </li>
  </ul>
</div>
 
