.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo,
.search,
.creator,
.user {
    padding: 10px 20px;
    cursor: pointer;
}

.search-wrapper {
    width: 60%;
}

.search {
    width: 90%;
    margin: 0 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.creator:hover,
.user:hover {
    background-color: #0056b3;
}

.some-wrapper{
    display: flex;
    /* justify-content: ; */
}