<nav class="wrapper">
  <div class="content-wrapper">
    <a href="/main-page">
      <img src="assets/images/logo.jpg" alt="Logo" class="logo" />
    </a>
    
    <div class="search-container">
      <button class="search-button" (click)="onSearchHandler()">
        <img src="assets/images/search-icon.png" alt="Search" class="icon" />
      </button>
      <input
        type="text"
        placeholder="Search..."
        [(ngModel)]="searchInput"
        class="search-input"
      />
    </div>
    <div class="creator-cart-wrapper">
      <a [routerLink]="['/cart']" class="decoration-none">
        <button class="cart-button">
          <img src="assets/images/shopping-cart.png" alt="Cart" class="icon" />
        </button>
      </a>
    </div>
    <div *ngIf="!isLoggedIn" class="buttons-wrapper">
      <button mat-stroked-button color="primary" routerLink="/login">
        SignIn
      </button>

      <button mat-raised-button color="primary" routerLink="/register">
        SignUp
      </button>
    </div>
    
    <div
      *ngIf="isLoggedIn"
      class="user-icon-container"
      (click)="navigateToUserProfile()"
    >
      <div class="user-icon">{{ userInitials }}</div>
    </div>

  </div>
</nav>
