.wrapper {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.search {
    padding: 10px 20px;
    cursor: pointer;
}

.search-wrapper {
    width: 60%;
}

.search {
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.logo {
    width: 70px;
    margin-left: 75px;
}

.plain-button {
    border: none;
    background: none;
    font-size: 17px;
}

.plain-button:hover {
    color: rgb(72, 104, 104);
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-input {
    padding: 8px 32px 8px 20px;
    border: 1px solid #242323;
    border-radius: 4px;
    width: 600px;
    height: 30px;
    border-radius: 15px;
    font-size: 15px;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    padding: 10px;
}

.search-button,
.cart-button,
.plain-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
}

.sign-up-button {
    margin-right: 110px;
}

.logout-button {
  margin-right: 110px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.black-link {
    color: #242323;
}

.white-link {
    color: white;
}

.menu-list {
    position: absolute;
    left: 13%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(228, 232, 234);
    margin-top: 5px;
}

.menu-item {
    cursor: pointer;
    font-family: system-ui;
    margin: 0;
    padding: 0;
}

.menu-item:hover {
    color: #868080;
}

.buttons-wrapper {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.creator-cart-wrapper {
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-left: 30px;
}

/*********************************************** responsivness **********************************************/

@media only screen and (max-width: 768px) {
    .wrapper {
        box-shadow: none;
    }

    .content-wrapper {
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
    }

    .search-wrapper {
        width: 100%;
        margin-top: 10px;
    }

    .search-input {
        width: 100%;
    }

    .search-button {
        right: 4px;
    }

    .buttons-wrapper {
        width: 100%;
        justify-content: space-around;
        margin-left: 0;
    }

    .creator-cart-wrapper {
        width: 100%;
        justify-content: space-around;
        margin-left: 0;
        margin-top: 10px;
    }
}