<mat-card class="course-creator-wrapper">
  <mat-card-header class="course-creator-header">
    <mat-card-title>Create a new course</mat-card-title>
    <mat-card-subtitle
      >Fill in the form below to create a new course</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="this.updateCourseIfFormValid()">
      <mat-form-field class="form-group">
        <mat-label>Course title</mat-label>
        <input
          matInput
          type="text"
          id="course-title"
          formControlName="title"
          placeholder="Enter course title"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>Course description</mat-label>
        <textarea
          matInput
          id="course-description"
          formControlName="description"
          placeholder="Enter course description"
          required
        ></textarea>
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>Course price</mat-label>
        <input
          matInput
          type="number"
          min="100"
          id="course-price"
          formControlName="price"
          placeholder="Enter course price"
          required
        />
      </mat-form-field>
      <div class="form-group">
        <h3>Course image </h3>
        <img  *ngIf="this.formGroup.controls['image'].value" [src]="this.formGroup.controls['image'].value" alt="Course image" />

        <div class="file-upload">
          <button
            class="button-file-upload margin-right-20"
            type="button"
            mat-raised-button
            (click)="fileInput.click()"
          >
            <div class="file-upload-wrapper">
              <div>Upload file</div>
              <mat-icon
                *ngIf="this.uploadState === this.UploadState.UPLOADED"
                class="uploaded-icon mini-icon"
              >
                check
              </mat-icon>
              <mat-icon
                *ngIf="this.uploadState === this.UploadState.ERROR"
                class="error-icon mini-icon"
              >
                error
              </mat-icon>
  
              <div
                *ngIf="this.uploadState === this.UploadState.UPLOADING"
                class="mini-icon"
              >
                <mat-spinner [diameter]="20"></mat-spinner>
              </div>
              <mat-icon
                *ngIf="this.uploadState === this.UploadState.NOT_STARTED"
                class="mini-icon"
              >
                file_upload
              </mat-icon>
            </div>
          </button>
          <h3 *ngIf="this.uploadState === this.UploadState.UPLOADED">
            Image is uploaded.
          </h3>
          <h3 *ngIf="this.uploadState === this.UploadState.ERROR">
            Image cannot be uploaded. Please try again later.
          </h3>
          <h3 *ngIf="this.uploadState === this.UploadState.UPLOADING">
            Image is uploading.
          </h3>
          <h3 *ngIf="this.uploadState === this.UploadState.NOT_STARTED">
            Image is not uploaded yet.
          </h3>
        </div>
        <input
          hidden
          id="course-video"
          (change)="onFileChange($event)"
          accept="image/png, image/jpg, image/jpeg"
          #fileInput
          type="file"
          id="file"
        />
      </div>

      
      <h2>Language</h2>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        formControlName="language"
        required
      >
        <mat-radio-button
          class="language-radio-button"
          *ngFor="let language of languages"
          [value]="language"
        >
          {{ language }}
        </mat-radio-button>
      </mat-radio-group>
      <br />

      <h2>Target audience</h2>
      <mat-radio-group
        aria-labelledby="target-audience-radio-button"
        class="example-radio-group"
        formControlName="targetAudience"
        requiredł
      >
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let targetAudience of targetAudiences"
          [value]="targetAudience"
        >
          {{ targetAudience }}
        </mat-radio-button>
      </mat-radio-group>

      <h2>Categories</h2>
      <mat-selection-list formControlName="categories" #selectionList required>
        <mat-list-option
          *ngFor="let category of categories"
          [value]="category.name"
        >
          {{ category.name }}
        </mat-list-option>
      </mat-selection-list>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!formGroup.valid">
        Save
      </button>
    </form>
  </mat-card-content>
</mat-card>
