<div class="login-container">
  <div class="login-content">
    <h1>Welcome back!</h1>
    <p>Please enter your login details to sign in</p>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="email">Email *</label>
        <input type="email" formControlName="email" id="email" />
        <div
          *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched"
          class="error"
        >
          Email is required.
        </div>
        <div
          *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched"
          class="error"
        >
          Please enter a valid email.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password *</label>
        <input type="password" formControlName="password" id="password" />
        <div
          *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
          class="error"
        >
          Password is required.
        </div>
        <div *ngIf="serverError" class="error">
          {{ serverError }}
        </div>
      </div>

      <div class="form-options">
        <div class="checkbox">
          <input type="checkbox" formControlName="rememberMe" id="rememberMe" />
          <label for="rememberMe">Remember me</label>
        </div>
        <a href="#" class="forgot-password">Forgot your password?</a>
      </div>

      <button type="submit" class="btn-login">Log In</button>

      <div class="register-link">
        Don't have an account? <a routerLink="/register">Register here</a>
      </div>

      <div class="divider">
        <hr class="line" />
        <span class="or">or continue with:</span>
        <hr class="line" />
      </div>
    </form>
    <a
      href="http://localhost:8080/api/v1/auth/google-login"
      id="googleBtn"
      class="btn-google"
    >
      Continue with Google
    </a>
    <!-- <button (click)="onGoogleLogin()" id="googleBtn" class="btn-google">
      Continue with Google
    </button> -->
  </div>
</div>
