.rating-wrapper {
  display: flex;
}

.rating {
  width: 100%;
}
.filled-star {
  color: gold;
}

.empty-star {
  color: grey;
}

.rate-count {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}
