<app-navbar></app-navbar>

<div>
    <section class="section-wrapper">
        <div class="cart-header">
            <h1>Shopping Cart</h1>
        </div>
        <div class="content-wrapper">
            <div class="left-wrapper">
                <app-cart-items-list 
                [cartItems]="cartItems" 
                (cartUpdated)="loadCart()"
                ></app-cart-items-list>
            </div>
            <div class="checkout">
                <div class="total">Total:</div>
                <div class="price">{{ totalPrice }}$</div>
                <app-button text="Checkout" type="BUY" (click)="pay()"></app-button>
            </div>
        </div>
    </section>
</div>
