<app-navbar></app-navbar>

<div>
    <section class="section-wrapper">
        <div class="cart-header">
            <h1>Shopping Cart</h1>
        </div>
        <div class="content-wrapper">
            <div class="left-wrapper">
                <app-cart-items-list 
                *ngIf="cartItems.length > 0; else emptyCart"
                [cartItems]="cartItems" 
                (cartUpdated)="loadCart()"
                ></app-cart-items-list>
                <ng-template #emptyCart>
                    <h3>Your cart is empty. Go find a course that fits you!</h3>
                    <button  mat-raised-button color="primary" routerLink="/course-search">Go shopping</button>
                </ng-template>
            </div>
            <div class="checkout" *ngIf="cartItems.length > 0">
                <div class="total">Total:</div>
                <div class="price">{{ totalPrice }}$</div>
                <button mat-raised-button color="primary"  
                (click)="isLoggedIn ? pay() : goToLogin()">
                    {{ isLoggedIn ? 'Checkout' : 'Log In & Checkout' }}
                </button>
            </div>
        </div>
    </section>
</div>
